:root {
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --font-color: #ccc;
    --bg-color: #181818;
    --heading-color: #818cab;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 15px;
}

.theme-switch {
  display: inline-block;
  height: 15px;
  position: relative;
  width: 20px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  content: "";
  height: 15px;
  position: absolute;
  transition: .4s;
  width: 14px;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(8px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
  
  

.dark-grey {
    background-color: var(--bg-color);
    color: var(--font-color)
}

.dark-grey pre {
    background-color: #181818;
    padding: 0;
    border: none
}

.dark-grey pre code {
    color: var(--font-color)
}

.dark-grey h1 a,
.dark-grey h2 a,
.dark-grey h3 a,
.dark-grey h4 a,
.dark-grey h5 a {
    color: var(--font-color)
}

.dark-grey code,
.dark-grey strong {
    color: var(--font-color)
}

.dark-grey code {
    font-weight: 100
}

.dark-grey table {
    color: var(--font-color)
}

.dark-grey table td,
.dark-grey table th {
    border-color: #444
}

.dark-grey table tbody td:first-child {
    color: var(--font-color)
}

.dark-grey .form-group label {
    color: var(--font-color);
    border-color: rgba(95, 95, 95, .78)
}

.dark-grey .form-group.form-textarea label:after {
    background-color: #181818
}

.dark-grey .form-control {
    color: var(--font-color);
    border-color: rgba(95, 95, 95, .78)
}

.dark-grey .form-control:focus {
    border-color: var(--font-color);
    color: var(--font-color)
}

.dark-grey textarea.form-control {
    color: var(--font-color)
}

.dark-grey .card {
    border-color: rgba(95, 95, 95, .78)
}

.dark-grey .card .card-header {
    background-color: transparent;
    color: var(--font-color);
    border-bottom: 1px solid rgba(95, 95, 95, .78)
}

.dark-grey .btn.btn-ghost.btn-default {
    border-color: #ababab;
    color: #ababab
}

.dark-grey .btn.btn-ghost.btn-default:focus,
.dark-grey .btn.btn-ghost.btn-default:hover {
    border-color: #9c9c9c;
    color: #9c9c9c;
    z-index: 1
}

.dark-grey .btn.btn-ghost.btn-default:focus,
.dark-grey .btn.btn-ghost.btn-default:hover {
    border-color: #e0e0e0;
    color: #e0e0e0
}

.dark-grey .btn.btn-ghost.btn-primary:focus,
.dark-grey .btn.btn-ghost.btn-primary:hover {
    border-color: #64b5f6;
    color: #64b5f6
}

.dark-grey .btn.btn-ghost.btn-success:focus,
.dark-grey .btn.btn-ghost.btn-success:hover {
    border-color: #81c784;
    color: #81c784
}

.dark-grey .btn.btn-ghost.btn-info:focus,
.dark-grey .btn.btn-ghost.btn-info:hover {
    border-color: #4dd0e1;
    color: #4dd0e1
}

.dark-grey .btn.btn-ghost.btn-error:focus,
.dark-grey .btn.btn-ghost.btn-error:hover {
    border-color: #e57373;
    color: #e57373
}

.dark-grey .btn.btn-ghost.btn-warning:focus,
.dark-grey .btn.btn-ghost.btn-warning:hover {
    border-color: #ffb74d;
    color: #ffb74d
}

.dark-grey .avatarholder,
.dark-grey .placeholder {
    background-color: transparent;
    border-color: #333
}

.dark-grey .menu .menu-item {
    color: var(--font-color);
    border-color: rgba(95, 95, 95, .78)
}

.dark-grey .menu .menu-item.active,
.dark-grey .menu .menu-item:hover {
    color: #fff;
    border-color: var(--font-color)
}