<!DOCTYPE html>
<html>

<head>
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MaybeUninit - Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.scripts %}
  {{ page.scripts }}
  {% endif %}
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/monokai.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/hack.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/dark-grey.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/site-dark.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/comments.css" />
</head>

<body class="hack dark-grey">
  <div class="main container">
    {% if page.comments_id %}
    <a style="font-size: 15px" href="{{ site.url }}"><b>OTHER POSTS</b></a>
    <a style="font-size: 15px" href="/feed.xml" target="_blank">RSS <i>flux</i></a>
    <br />
    <br />
    {% endif %}
    {{ content }}

    {% if page.comments_id %}
    {% include comments.html %}
    {% endif %}
  </div>
</body>

</html>
